*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;
}

.container{
    padding: 5px;
}

header{
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);    
}

footer{
    background-color: var(--color-dark-color);
    color: var(--color-light-color);
}

.debug{
    border: 1px solid black;
}

#logo img{
    width: 60px;
}

/* utilityes */
.col{
    margin: 5px 5px;
}

.card{
    height: 100%;
}

.small-rounder{
    border-radius: 10px;
}

.big-rounded{
    border-radius: 20px;
}

.circle{
    border-radius: 50%;
}

.px-10{
    padding-right: 10px;
    padding-left: 10px;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-20{
    padding-right: 20px;
    padding-left: 20px;
}

.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mtb-20px{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.mlr-30{
    margin-left: 30px;
    margin-right: 30px;
}

.bttn{
    padding: 6px 30px;
    text-decoration: none;
    color: var(--color-light-color);
    border-radius: 20px;
    font-size: 15px;
    margin-top: 10px;
}

.line-height{
    line-height: 30px;
}

.text-center{
    text-align: center;
}

#intro h3{
    font-size: 20px;
    color: var(--color-secondary-color);
}

#intro img{
    position: relative;
    top: 25px;
}

#planning h2{
    font-size: 30px;
}


.icon{
    font-size: 65px;
    color: var(--color-secondary-color);
}

.arrow{
    padding: 5px 10px;
    text-decoration: none;
    color: var(--color-dark-color);
    font-size: 15px;
    margin-top: 10px;
}


/*  Background colors */

.bg-primary{
    background-color: var(--color-primary-color);
}

.bg-secondary{
    background-color: var(--color-secondary-color);
}

.bg-card{
    background-color: var(--color-bg-card);
}

.bg-lightcolor{
    background-color: var(--color-light-color);
}

.light-color{
    color: var(--color-light-color);
}

.primary-color{
    color: var(--color-primary-color);
}

img{
    width: 100%;
}

#testimonials h3{
    font-size: 15px;
}

#testimonials h2{
    font-size: 30px;
    color: var(--color-primary-color);
}

#testimonials h4{
    font-size: 20px;
}

.rounded-img {

} 

.rounded-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#strategic-benefits h2{
    font-size: 30px;
}

#strategic-benefits h3{
    font-size: 40px;
}

#strategic-benefits h4{
    font-size: 20px;
}

.bttn2 {
    padding: 6px 30px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
}

#about-us h2{
    font-size: 35px;
}

#about-us img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#about-us h3{
    font-size: 27px;
}

.bttn3 {
    padding: 15px 80px;
    text-decoration: none;
    border-radius: 26px;
    font-size: 17px;
}

#get-started h3{
    font-size: 25px;
}

#get-started h2{
    font-size: 50px;
    color: var(--color-contrast-color);
}

.border-bot{
    border-bottom: 1px solid var(--color-primary-color);
}

/* media query*/

@media screen and (min-width:576px){

    .d-flex{
        display: flex;
        flex-flow: row wrap;
    }

    .align-stretch{
        align-items: stretch;
        align-content: stretch;
    }

    #intro .col{
        width: calc(100% / 3 - 20px);
    }

    #intro .col:first-child{
        width: calc((100% / 3) * 2);

    }

}